.rel {
    width: 545px;
    padding: 20px;
    margin: 100px;
    box-shadow: 10px 10px 7px 3px;
}

.rok {
    width: 300px;
    padding: 23px;
    margin: 80px;
    box-shadow: 5px 5px 5px 5px;
}

.rek {
    width: 300px;
    padding: 30px;
    margin: 70px;
    box-shadow: 10px 10px 10px 10px;
}

.tik {
    width: 300px;
    padding: 24px;
    margin: 50px;
    box-shadow: 9px 9px 9px 9px crimson;
}

.well {
    width: 450px;
    padding: 80px;
    margin: 90px;
    box-shadow: 3px 3px 3px 3px;
}